html.dark {
    color-scheme: dark;
}

.dark .VPContent {
    /* background-color: rgb(10, 10, 11);
    background-image: url("/grid.svg"); */
}

.vp-doc h2 {
    border-top: 0px;
    margin-top: 10px;
}

.VPMenuLink .link {
    line-height: 28px !important;
}

.VPSidebarGroup .link {
    padding: 3px 0 !important;
}

.VPTeamPageTitle .title {
    line-height: 32px;
    font-size: 24px;
    opacity: 0.5;
}

.VPTeamPageTitle .lead {
    font-size: 14px;
    opacity: 0.4;
}

.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}

/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("/fonts/Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("/fonts/Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("/fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Zhushiti";
  src: url("/fonts/YangRenDongZhuShiTi-Light-2.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Cangnanshoujiti";
  src: url("/fonts/YeZiGongChangCangNanShouJi-2.ttf");
  font-display: swap;
  font-weight: 700;
}
